<div id="loading-spinner" style="display:none; position:fixed; top:0; left:0; width:100vw; height:100vh; background:rgba(255,255,255,0.6); z-index:9999; align-items:center; justify-content:center;">
    <div style="font-size:2rem; color:#20506b;">
        <i class="fa fa-spinner fa-spin"></i> Đang tải...
    </div>
</div>